.body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
.line{
    border: 1px solid black;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.context-section{
    display: flex;
    align-items: upper;
    gap: 20px;
}

.context-text{
    font-size: 18px;
    font-weight: bold;
}

.image-box{
    border: 2px solid black;
    width: 400px;
    height: 200px;
    padding: 20px;
}

.product-highlight{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.black-line{
    height: 3px;
    background-color: black;
    flex: 1;
}


.body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

.line{
    border:1px solid black;
}

.context-section{
    display:flex;
    gap:20px;
    align-items:upper;
}

.image-box{
    border:2px solid black;
    width:400px;
    height:200px;
    padding:20px;
    text-align:left;
}

.brands-highlight{
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:20px;
}

.black-line{
    height:3px;
    background-color:black;
    flex:1;
}

a{
    text-decoration:none;
    color:black;
}


.body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

.line{
    border:1px solid black;
}

.context-section{
    display:flex;
    gap:20px;
    align-items:upper;
}

.image-box{
    border:2px solid black;
    width:400px;
    height:200px;
    padding:20px;
    text-align:left;
}

.promotions-highlight{
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:20px;
}

.black-line{
    height:3px;
    background-color:black;
    flex:1;
}

a{
    text-decoration:none;
    color:black;
}